<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <header class="d-flex flex-column align-items-center">
      <h1><%= title %></h1>
      <%- include("nav") %>
    </header>
    <main class="row row-cols-1 row-cols-sm-2 w-100 px-5">
      <div class="col">
        <p>De verdad desea eliminar esta categoria?</p>
        <p>
          Se eliminaran los siguientes productos y los pedidos relacionados con
          ellos
        </p>
        <% if (products.length >0) { %>
        <ul class="list-group">
          <% products.forEach(product => { %>
          <li class="listItem list-group-item list-group-item-action">
            <a href="<%= product.url %>"><p><%= product.name %></p></a>
          </li>
          <% }) %>
        </ul>
        <% }else{ %>
        <p>No hay productos en esta categoria</p>
        <% } %>
      </div>
      <% if (typeof admin !== "undefined") { %> <%-
      include("admin_form",{admin,errors}) %> <% }else{ %> <%-
      include("admin_form",{errors}) %> <% } %>
    </main>
  </body>
</html>
