<!DOCTYPE html>
<html lang="en">
  <%- include('head_layout', {title: title}); %>
  <body>
    <header class="d-flex flex-column align-items-center">
      <h1><%= title %></h1>
      <%- include("nav") %>
    </header>

    <main class="d-flex flex-column align-items-center p-3">
      <div class="categoriesContainer mb-4">
        <ul class="list-group d-flex flex-column gap-3">
          <% categories.forEach(category => { %>
          <li class="listItem list-group-item list-group-item-action">
            <a href="<%= category.url %>"><%= category.name %></a>
          </li>
          <% }) %>
        </ul>
      </div>
      <div>
        <p>No encuentra la categoria deseada, puede agregar una:</p>
        <a class="btn btn-primary" href="category/create">Agregar categoria</a>
      </div>
    </main>
  </body>
</html>
