<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <header class="container my-1 d-flex flex-column align-items-center">
      <h1><%= title %></h1>
      <%- include("nav") %>
    </header>
    <main class="px-4 row justify-content-center">
      <form method="post" class="d-flex flex-column align-items-center mt-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="name" id="name"
          placeholder="Camisas" minlength="3" value="<%= typeof category !==
          "undefined" ? category.name : "" %>">
          <label for="floatingInput">Nombre de categoria</label>
          <% if (typeof errors !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.name.msg %></p>
          <% } %>
        </div>
        <button type="submit" class="btn btn-success mt-3">Guardar</button>
      </form>
    </main>
  </body>
</html>
