<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <h1><%= title %>: <%= pedido._id %></h1>
    <h2>Detalles de pedido</h2>
    <p>
      Producto:
      <a href="<%= pedido.product.url %>"><%= pedido.product.name %></a>
    </p>
    <p>Unidades solicitadas: <%= pedido.ammount %></p>
    <p>Solicitado el <%= pedido.formattedDate %></p>
    <p>Usuario: <%= pedido.user.fullname %></p>
    <form action="" method="post">
      <div class="textInput">
        <label for="name">
          Nombre de cuenta administrador <input type="text" name="name"
          id="name" value="<%= typeof admin !== "undefined" ? admin.name : ""
          %>" />
        </label>
        <% if (typeof errors.name !== "undefined") { %>
        <p class="textError"><%= errors.name.msg %></p>
        <% } %>
      </div>
      <div class="textInput">
        <label for="password">
          Password <input type="password" name="password" id="password"
          value="<%= typeof admin !== "undefined" ? admin.password : "" %>" />
        </label>
        <% if (typeof errors.password !== "undefined") { %>
        <p class="textError"><%= errors.password.msg %></p>
        <% } %>
      </div>
      <button type="submit">Eliminar pedido</button>
    </form>
    <% if (typeof validation !== "undefined") { %>
    <p>Error, los datos no coinciden con una cuenta administrativa</p>
    <% } %>
  </body>
</html>
