<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <header class="d-flex flex-column align-items-center">
      <h1><%= title %></h1>
      <%- include("nav") %>
    </header>
    <main class="d-flex flex-column align-items-center py-4">
      <div class="categoriesContainer mb-4">
        <ul class="list-group d-flex flex-column gap-3">
          <% allPedidos.forEach(pedido => { %>
          <li class="listItem list-group-item list-group-item-action">
            <p><%= pedido.product.name %></p>
            <p><%= pedido.ammount %> unidades solicitadas</p>
            <% if (pedido.orderPlaced) { %>
            <p>Agregado el <%= pedido.formattedDate %></p>
            <% }else{ %>
            <p>Sin fecha de agregado</p>
            <% } %>
            <a href="<%= pedido.url %>">Ver detalles</a>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
