<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <header class="d-flex flex-column align-items-center">
      <h1><%= title %>: <%= pedido._id %></h1>
      <%- include("nav") %>
    </header>
    <main class="row row-cols-1 row-cols-sm-2 w-100 px-5">
      <div class="col">
        <h2>Detalles de pedido</h2>
        <p>
          Producto:
          <a href="<%= pedido.product.url %>"><%= pedido.product.name %></a>
        </p>
        <p>Unidades solicitadas: <%= pedido.ammount %></p>
        <p>Solicitado el <%= pedido.formattedDate %></p>
        <p>Usuario: <%= pedido.user.fullname %></p>
      </div>
      <% if (typeof admin !== "undefined") { %> <%-
      include("admin_form",{admin,errors}) %> <% }else{ %> <%-
      include("admin_form",{errors}) %> <% } %>
    </main>
  </body>
</html>
