<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <h1><%= title %></h1>
    <form action="" method="get">
      <% categories.forEach(category => { %>
      <label for="<%= category.name %>">
        <%= category.name %>
        <input
          type="checkbox"
          name="categoriesFilter[]"
          value="<%= category._id %>"
        />
      </label>
      <% }) %>
      <button type="submit">Filtrar</button>
    </form>
    <p>Lista de productos:</p>
    <ul>
      <% allProducts.forEach(product => { %>
      <li>
        <a href="<%= product.url %>"><%= product.name%></a>
        <p><%= product.summary %></p>
        <p><%= product.category.name %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
