<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <h1>Detalles de <%= product.name %></h1>
    <p><%= product.summary %></p>
    <p>Precio por unidad de $<%= product.price %></p>
    <p>En inventario <%= product.stock %> disponibles</p>
    <p>Categoria: <%= product.category.name %></p>
    <div class="options">
      <a href="/management/order/<%= product._id %>/create"
        >Crear pedido de producto</a
      >
      <a href="<%= product.url %>/update">Actualizar Producto</a>
      <a href="<%= product.url %>/delete">Eliminar Producto</a>
    </div>
  </body>
</html>
