<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <header class="container my-1 d-flex flex-column align-items-center">
      <h1>Detalles de producto: <%= product.name %></h1>
      <%- include("nav") %>
    </header>
    <main class="d-flex flex-column align-items-center">
      <% if (typeof product.img !== "undefined") { %>
      <img src="<%= product.img %> " alt="" width="100px" height="auto" />
      <% } %>
      <p><%= product.summary %></p>
      <p>Precio por unidad de $<%= product.price %></p>
      <p>En inventario <%= product.stock %> disponibles</p>
      <p>Categoria: <%= product.category.name %></p>
      <div class="options">
        <a
          class="btn btn-success"
          href="/management/order/<%= product._id %>/create"
          >Crear pedido de producto</a
        >
        <a class="btn btn-primary" href="<%= product.url %>/update"
          >Actualizar Producto</a
        >
        <a class="btn btn-danger" href="<%= product.url %>/delete"
          >Eliminar Producto</a
        >
      </div>
    </main>
  </body>
</html>
