<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title:title}) %>
  <body>
    <header class="container my-1 d-flex flex-column align-items-center">
      <h1><%= title %></h1>
      <%- include("nav") %>
    </header>
    <main class="px-2 row justify-content-center">
      <form
        action=""
        method="post"
        class="d-flex flex-column align-items-center mt-3 gap-3"
        enctype="multipart/form-data"
      >
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="name" id="name"
          placeholder="Pantalon azul" value="<%= typeof product !== "undefined"
          ? product.name : "" %>">
          <label for="name">Nombre del producto: </label>
          <% if (typeof errors.name !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.name.msg %></p>
          <% } %>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="summary" id="summary"
          placeholder="Este producto..." value="<%= typeof product !==
          "undefined" ? product.summary : "" %>">
          <label for="summary">Descripcion del producto: </label>
          <% if (typeof errors.summary !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.summary.msg %></p>
          <% } %>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" name="price" id="price"
          placeholder="0" min="0" step="0.50" value="<%= typeof product !==
          "undefined" ? product.price : "" %>">
          <label for="price">Precio: </label>
          <% if (typeof errors.price !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.price.msg %></p>
          <% } %>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" name="stock" id="stock"
          placeholder="0" min="0" step="1" value="<%= typeof product !==
          "undefined" ? product.stock : "" %>">
          <label for="stock">Cantidad de inventario: </label>
          <% if (typeof errors.stock !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.stock.msg %></p>
          <% } %>
        </div>
        <div class="selectInput">
          <label for="category">
            Categoria
            <select name="category" id="category">
              <% categories.forEach(category => { %> <% if (typeof product !==
              "undefined" && typeof product.category !== "undefined" &&
              product.category === category._id.toString()) { %>
              <option value="<%= category._id.toString()%>" selected>
                <%= category.name %>
              </option>
              <% }else { %>
              <option value="<%= category._id.toString()%>" selected>
                <%= category.name %>
              </option>
              <%}%> <% }) %>
            </select>
          </label>
          <% if (typeof errors !== "undefined"&& typeof errors.category !==
          "undefined") { %>
          <p class="errorText"><%= errors.category.msg %></p>
          <% } %>
        </div>
        <div class="uploadInput">
          <label for="img">
            Imagen del producto <input type="file" name="img" id="img"
            value="<%= typeof product !== "undefined" ? product.img : "" %>" />
          </label>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
      </form>
    </main>
  </body>
</html>
