<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <h1><%= title %></h1>
    <p><%= user.fullname %></p>
    <p><%= user.cellphone %></p>
    <p><%= user.email %></p>
    <div class="options">
      <a href="<%= user.url %>/update">Actualizar Usuario</a>
      <a href="<%= user.url %>/delete">Eliminar Usuario</a>
    </div>

    <hr />
    <h2>Pedidos del usuario</h2>
    <% if (userPedidos.length>0) { %>
    <ul>
      <% userPedidos.forEach(pedido => { %>
      <li>
        <p><%= pedido.product.name %></p>
        <p><%= pedido.ammount %> unidades solicitadas</p>
        <% if (pedido.orderPlaced) { %>
        <p>Agregado el <%= pedido.orderPlaced %></p>
        <% }else{ %>
        <p>Sin fecha de agregado</p>
        <% } %>
        <a href="<%= pedido.url %>">Ver detalles</a>
        <% }); %>
      </li>
    </ul>
    <% }else{ %>
    <p>Este usuario no ha hecho pedidos</p>
    <% } %>
  </body>
</html>
