<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <header class="d-flex flex-column align-items-center">
      <h1><%= title %></h1>
      <%- include("nav") %>
    </header>
    <main class="row row-cols-1 row-cols-sm-2 w-100 px-5 py-4">
      <div class="col">
        <h2>Datos de usuario</h2>
        <p><%= user.fullname %></p>
        <p><%= user.cellphone %></p>
        <p><%= user.email %></p>
        <hr />
        <p>Si elimina el usuario, se eliminaran sus pedidos de tener</p>
        <p>Pedidos del usuario:</p>
        <% if (pedidos.length>0) { %>
        <ul class="list-group d-flex gap-3">
          <% pedidos.forEach(pedido => { %>
          <li class="listItem list-group-item list-group-item-action">
            <p><%= pedido.product.name %></p>
            <p><%= pedido.ammount %> unidades solicitadas</p>
            <% if (pedido.orderPlaced) { %>
            <p>Agregado el <%= pedido.orderPlaced %></p>
            <% }else{ %>
            <p>Sin fecha de agregado</p>
            <% } %>
            <a href="<%= pedido.url %>">Ver detalles</a>
            <% }); %>
          </li>
        </ul>
        <% }else{ %>
        <p>Este usuario no ha hecho pedidos</p>
        <% } %>
      </div>
      <% if (typeof admin !== "undefined") { %> <%-
      include("admin_form",{admin,errors}) %> <% }else{ %> <%-
      include("admin_form",{errors}) %> <% } %>
    </main>
  </body>
</html>
