<!DOCTYPE html>
<html lang="en">
  <%- include("head_layout",{title}) %>
  <body>
    <header class="d-flex flex-column align-items-center">
      <h1><%= title %></h1>
      <%- include("nav") %>
    </header>
    <main class="px-2 row justify-content-center">
      <form
        action=""
        method="post"
        class="d-flex flex-column align-items-center mt-3 gap-3"
      >
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="first_name"
          id="first_name" placeholder="Andres" value="<%= typeof user !==
          "undefined" ? user.first_name : "" %>">
          <label for="first_name">Nombre </label>
          <% if (typeof errors.first_name !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.first_name.msg %></p>
          <% } %>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="last_name"
          id="last_name" placeholder="Rodriguez" value="<%= typeof user !==
          "undefined" ? user.last_name : "" %>">
          <label for="last_name">Apellido </label>
          <% if (typeof errors.last_name !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.last_name.msg %></p>
          <% } %>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="cellphone"
          id="cellphone" placeholder="1234-5678" value="<%= typeof user !==
          "undefined" ? user.cellphone : "" %>">
          <label for="cellphone">Celular </label>
          <% if (typeof errors.cellphone !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.cellphone.msg %></p>
          <% } %>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="email" id="email"
          placeholder="1234-5678" value="<%= typeof user !== "undefined" ?
          user.email : "" %>" minlength="1">
          <label for="email">Correo Electronico </label>
          <% if (typeof errors.email !== "undefined" ) { %>
          <p class="errorText text-danger"><%= errors.email.msg %></p>
          <% } %>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
      </form>
    </main>
  </body>
</html>
